.recongate-text-area{
    resize: none;
    background-color: rgb(81,81,81);
    color: rgb(220,220,220);
    font-size: 1.2em;
    border: none;
    border-bottom: 3px solid rgb(125,125,125);
    -webkit-transition: height .5s;
    -moz-transition: height .3s;
    -ms-transition: height .3s;
    -o-transition: height .3s;
    transition: height .3s;
}

.recongate-text-area:focus {
    outline:0px !important;
    -webkit-appearance:none;
    border: none;
    border-bottom: 3px solid rgb(215,176,90);
}
